@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body
{
    font-family: 'Rajdhani',sans-serif;
}
.formColetadados
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../Img/EditPhoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.formColetadados::before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
}
.containerColetaDados
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
    width: 50%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding:  10px;
    border: none;
    color: white;
    font-family: 'Rajdhani',sans-serif;
}
.ColetadeDados
{
    width: 100%;
}
.title
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-family: 'Rajdhani',sans-serif;
}
.InputsBorder
{
    width: 100%;
    border: 2px solid rgb(50 , 0 , 230);
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
}
.InputsBorder > i
{
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgb(50 , 0 , 230);
    font-size: 30px;
}
.Input
{
    padding: 10px;
    width: 90%;
    outline: none;
    padding-left: calc(2*30px);
    background: transparent;
    font-size: 20px;
    border: none;
    color: white;
    backdrop-filter:blur(5px);
    font-family: 'Rajdhani',sans-serif;
    text-align: center;
}
.ButtonSubmit
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Rajdhani',sans-serif;
}
.InputSubmit
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(50 , 0 , 230);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Rajdhani',sans-serif;
}

#Eye-Open
{
    position: absolute;
    left: 90%;
    cursor: pointer;
}
#Eye-Close
{
    position: absolute;
    left: 90%;
    cursor: pointer;
    display: none;
}